body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    margin: auto;
    background-color: white;
    width: 500px;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: rgb(83, 83, 248);
    color: white;
    padding: 3px;
    border-radius: 5px;
}