@charset "UTF-8";

body {
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    background-color: blue; color: green;
}
p {
    text-align: justify;
    color: white;
}